<div id="add_contact_form">
  <form action='/add_contact' >
    <div class="form-group">
      <input id="input_string" name="height" class="form-control" type="text" size="30" placeholder="package height">
      <input id="input_string" name="width" class="form-control" type="text" size="30" placeholder="package width">
      <input id="input_string" name="length" class="form-control" type="text" size="30" placeholder="package length">
    </div>
    <input name="submit" type="submit"  value="Calculate Shipping">
  </form>
</div>
