<div id="current_contacts_table">
  <table>
    <tr>
      <td>
        <strong>Name:
      </td>
    </tr>
    <% @phone_book.each() do |contact| %>
    <tr>
      <td>
        <%= contact.name() %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div id="add_contact_form">
  <form action='/add_contact' >
    <div class="form-group">
      <label>Add a New Contact:
        <input id="input_string" name="name" class="form-control" type="text" size="30" placeholder="enter name">
      </label>
    <input name="submit" type="submit"  value="Add">
    </div>
  </form>
</div>
