<h1>Phone Book:</h2>

<div id="current_contacts_table" class="container">
  <table class="table">
    <tr>
      <td>
        <strong>Names:</strong>
      </td>
    </tr>
    <% @phone_book.each() do |contact| %>
    <tr>
      <td>
        <%= "<a href='/contacts/#{contact.id()}'>#{contact.name()}<a>" %>
      </td>
      <td>
        <%= "<form action='/delete_contact' method='post'> <input type='hidden' name='id' value='#{contact.id()}'> <input type='submit' value='delete' class='btn btn-default'> </form>" %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<div id="add_contact_form" class="container">
  <form action='/add_contact' method='post'>
    <div class="form-group">
        <label>Add a New Contact:
          <input id="input_string" name="name" class="form-control" type="text" size="30" placeholder="enter name">
        </label>
      <input name="submit" type="submit"  value="Add" class="btn btn-default">
    </div>
  </form>
</div>

<div id="search_form" class="container">
  <form action='/search' method='post'>
    <div class="form-group">
      <label>Search By Name:
          <input id="input_string" name="findme" class="form-control" type="text" size="30" placeholder="enter name to search for">
        </label>
      <input name="submit" type="submit"  value="Search" class="btn btn-default">
    </div>
  </form>
</div>
