<!DOCTYPE <html>
  <head>
    <title>Phone Book</title>
    <link rel='stylesheet' href='/bootstrap.min.css'>
    <link rel='stylesheet' href='styles.css' type='text/css'>
  </head>
  <body>
    <%= yield %>
    <br>
    <br>
    <div id="footer">
      <font font-size="10">
        <a href="http://www.github.com/alexbeeken/phone_book.git">Go to GitHub!</a>
      </font>
    </div>
  </body>
</html>
